#!/usr/bin/env bash

# fcd - cd into the directory of the selected file
# fcd() {
#    local file
#    local dir
#    file=$(fzf +m -q "$1") && dir=$(dirname "$file") && cd "$dir"
# }
#
# fkill - kill process
# fkill() {
#   pid=$(ps -ef | sed 1d | fzf -m | awk '{print $2}')
#
#   if [ "x$pid" != "x" ]
#   then
#     kill -${1:-9} $pid
#   fi
# }

