## Additional server aliases ##

# Ghost #
alias gh="cd /var/www/ghost"
alias gr="service ghost restart"
alias gs="service ghost status"
alias gt="cd /var/www/ghost/content/themes/"
alias gu="curl -sL https://gist.github.com/cwonrails/976b3dc50b1d7924aab9/raw/c117dfb25046b2d7f5675e204b1aea5ac60ce96b/doupdateghost.sh | sudo bash"

# nginx #
alias ns="service nginx status"
alias nr="service nginx restart"
