[apply]

  whitespace = fix

[core]

  # autocrlf = input
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  trustctime = false
  precomposeunicode = false
  untrackedCache = true

[color]

  ui = auto

[color "branch"]

  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]

  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]

  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "status"]

  added = yellow
  changed = green
  untracked = cyan

[fetch]

  prune = true

[help]

  autocorrect = 1

[include]

  path = ~/.gitconfig.local

[interactive]

  diffFilter = "diff-so-fancy"

[log]

  date = relative

[merge]

  log = true
  tool = Kaleidoscope

[pager]

  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX

[push]

  default = simple
  followTags = true

[rebase]

  autosquash = true

[url "git@github.com:"]

  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

  insteadOf = "github:"

[url "git@gist.github.com:"]

  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

  insteadOf = "gist:"

[alias]

  branches = !legit branches
  graft = !legit graft
  harvest = !legit harvest
  publish = !legit publish
  unpublish = !legit unpublish
  sprout = !legit sprout
  sync = !legit sync
  switch = !legit switch
  resync = !legit resync
  quick-stats = ! /usr/local/bin/git-quick-stats
  appraise = !/Users/christopherwatson/go/bin/git-appraise

[user]

  signingkey = cwonrails@gmail.com

[commit]

  gpgsign = true

[gpg]

  program = gpg

[diff]

  tool = Kaleidoscope

[difftool "Kaleidoscope"]

  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]

  prompt = false

[mergetool "Kaleidoscope"]

  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot

[mergetool]

  prompt = false

[filter "lfs"]

  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

