# Create a new directory and enter it
function mdcd() {
  mkdir -p "$@" && cd "$_";
}

# Run `dig` and display the most useful info
function diginfo() {
  dig +nocmd "$1" any +multiline +noall +answer;
}

